body[data-route^="print/Cheque Print/"] .print-preview {
    min-height: 20.1cm;
    width: 9.2cm;
    max-width: unset !important;
}

body[data-route^="print/Cheque Print/"] .print-format-container {
    min-height: 20.1cm;
    width: 9.2cm;
    max-width: unset !important;
}