.expense-reference-dialog-row {
    border-radius: 7px;
    border-bottom: 1px solid grey;
    padding: 4px 13px 4px 13px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.expense-reference-dialog-total-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    background: #ffe8b2;
    border-radius: 5px;
    font-size: 125%;
    position: sticky;
    bottom: 0;
    z-index: 3;
}

.expense-final-total-row {
    background: #fba5a5;
    font-size: 140%;
    position: sticky;
    bottom: 0;
    z-index: 3;
}

.expense-reference-dialog-row:hover {
    background-color: #0000000d;
}

.expense-account-details {
    background: #629ffd17;
}

.expense-account-details {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.expense-details-title {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    background: #629ffd21;
}

.graph-svg-tip.comparison {
    pointer-events: all !important;
}
